.button{
    color: #030718;
    width: 16rem;
    height: 4rem;
    border-radius: 40%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    font-family: "Joti One", serif;
    border: 0.5rem solid rgba(2, 2, 28, 0.97);
    background: linear-gradient(to bottom right, #b09ef8, rgba(129, 121, 245, 0.62));
    animation: MovingGradient 1s linear infinite;
}

.button:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom right, rgba(68, 24, 245, 0.73), rgba(129, 121, 245, 0.62));

}

@media only screen and (max-width: 768px) {
    .button{
        width: 10rem;
        height: 3rem;
        font-size: 1.2rem;
    }
}