.error{
    position: absolute;
    border: 0.3rem solid #1a0221;
    background-color: rgba(228, 162, 246, 0.71);
    border-radius: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    padding: 2rem;
}