.series-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #022731;
    width: 18%;
    height: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #338AA4;
    cursor: pointer;
}

.series-card img {
    object-fit: contain;
    margin: 1rem 0 0 0;
    max-width: 95%;
    max-height: 80%;
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.series-card h3 {
    margin-top: 0.6rem;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.series-card p {
    color: #666;
    margin-top: 0.1rem;
    font-size: 1.3rem;
}

.series-card h3:hover{
    color: #93d5ea;
    transform: scale(1.1);
}

.series-card:hover{
    box-shadow: 0 0 15px rgba(147, 213, 234, 0.6);
    transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
    .series-card {
        width: 90%;
    }

    .series-card h3 {
        font-size: 1.7rem;
    }

    .series-card p {
        font-size: 1.1rem;
    }

}