.series-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #022731;
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.defaultImage{
    padding-bottom: 8.3rem;

}
.card-buttons{
    width: 100%;
    margin-top: auto;
    padding-bottom: 0.5rem;
}
.series-card .image {
    object-fit: contain;
    margin: 0.1rem 0 0 0;
    max-width: 95%;
    max-height: 80%;
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.series-card .h3 {
    box-sizing: border-box;
    margin-top: 0.6rem;
    padding: 0 0.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #338AA4;
    text-align: center;

}

.series-card h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.series-card p {
    color: #666;
    margin-top: 0.1rem;
    font-size: 1.3rem;
}

.series-card h3:hover {
    color: #93d5ea;
    transform: scale(1.1);
}

.series-card:hover {
    box-shadow: 0 0 15px rgba(147, 213, 234, 0.6);
    transform: scale(1.1);
}


.buttons-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}
@media only screen and (max-width: 768px) {
    .series-card {
        width: 90%;
    }

    .series-card h3 {
        font-size: 1.4rem;
    }

    .series-card p {
        font-size: 1.1rem;
    }
}