.button{
    font-family: Inter;
    font-weight: bold;
    color: white;
    width: 5.9rem;
    height: 2.6rem;
    border-radius: 10%;
    text-shadow: 1px 1px 2px #040d17;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    box-sizing: content-box;
    text-align: center;
}

.log-in{
    background-color: #ADE0F0;
    border: 0.3rem solid #338AA4;
}

.sign-in{
    background-color: rgba(5, 53, 75, 0.75);
    border: 0.6rem solid #00161C;
}
.log-out{
    background-color: rgba(159, 153, 255, 0.75);
    border: 0.3rem solid #222253;
    color: #06061a;

}
.warning{
    padding: 1rem;
    font-size: 1.4rem;
    width: 6.2rem;
    border-radius: 30%;
}
.delete{
    background-color: rgba(135, 80, 140, 0.68);
    border: 0.3rem solid #2a0228;
    color: #1a0221;
}

.cancel{
    background-color: rgba(113, 241, 211, 0.65);
    border: 0.3rem solid #021e10;
    color: #021808;
}
.button:hover{
    transform: scale(1.1);
    box-shadow: inset 0 0 0 100px rgba(2, 1, 19, 0.8);

}
.warning:hover{
    box-shadow: inset 0 0 0 100px rgba(149, 67, 238, 0.53);

}
.error-message{
    color: #36053b;
}

@media only screen and (max-width: 768px) {
    .warning{
        padding: 0.3rem;
        font-size: 1.2rem;
        width: 5.9rem;
    }
}