
.medium {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}
.mini{
    width: 1.3rem;
    height: 1.3rem;
    object-fit: contain;

}
.big{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}
.loading{
    animation: rotation 3s linear infinite;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

}

@keyframes rotation {
    from {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    to {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}
.mirror{
    transform: scaleX(-1);
}

