.mini-button {
    width: 2rem;
    height: 2.5rem;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}


.mini-button:not([disabled]) img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 3px #01090c);

}
.mini-button.right:not([disabled]) img:hover {
    transform: scaleX(-1) scale(1.1);
}
