.search-bar{
    background-color: #ACDFEE;
    border: 0.3rem solid #244650;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 31rem;
    height: 2.9rem;
    box-sizing: border-box;
}

.search-bar input{
    background-color: #ACDFEE;
    border: none;
    outline: none;
    font-size: 1.3rem;
    width: 90%;
    height: 2rem;
    color: #244650;
    padding: 0 0.5rem;
}

.search-bar input::placeholder{
    font-style: italic;
}