.empty{
    padding: 2rem;
    font-size: 2rem;
    align-items: center;
    text-align: center;
}
.user-page{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.user-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4.7rem;
}
.user-header h2{
    font-size: 2rem;
}
@media only screen and (max-width: 768px) {
    .user-header{
        display: flex;
       flex-direction: column;
        gap: 1rem;
    }
    .user-header h2{
        font-size: 1.7rem;
    }
    .empty{
        font-size: 1.4rem;
        white-space: normal;
        word-wrap: break-word;
        hyphens: auto;
    }
    .user-page{
        gap: 1rem;
    }
}
