.menu {
    background-color: #0B3B4A;
    width: max-content;
    max-width: 24rem;
    height: max-content;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.menu-top {
    background-color: #00161C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0.5rem 1.5rem;
}

.menu-top h3 {
    margin: 0;
    font-family: 'Joti One', serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    position: relative;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

.menu-items li::before {
    content: '•';
    color: white;
    position: absolute;
    left: 0.7rem;
    top: 0.5rem;
}



.menu-items li:nth-child(even) {
    background-color: #072933;
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.menu a:hover {
    text-decoration: underline;
}