.search{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.filter-container{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.filter-component{
    background-color: #ADE0F0;
    border: 0.3rem solid #244650;
    width: 15rem;
    height: 2.2rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: "Indie Flower", cursive;
    font-size: 1.3rem;
    padding: 0;
}

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.6rem;
    height: 2.2rem;
    background-color: #ADE0F0;
    width: 100%;
}

.search-bar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ACDFEE;
    border: 0.3rem solid #244650;
    padding: 1rem;
    width: 32rem;
    height: 2.9rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto;

}

input{
    background-color: #ACDFEE;
    border: none;
    outline: none;
    font-size: 1.3rem;
    width: 90%;
    height: 2rem;
    color: #244650;
    padding: 0 0.5rem;
    font-family: "Indie Flower", cursive;
    font-weight: bold;

}



input::placeholder{
    font-family: "Indie Flower", cursive;
    color: #464545;
    font-weight: bold;

}
.filter-select {
    height: 100%;
    font-weight: bold;
    color: #244650;

}

.filter-component option {
    color: #244650;
    font-family: "Indie Flower", cursive;
    font-size: 1.3rem;
    background-color: #5FB8D4;
    font-weight: bold;


}
.year{
    width: 6rem;
    padding: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
    .search{
        gap: 1.2rem;
    }
    .filter-container{
        gap: 1.2rem;
        width: 90%;
        margin: 0 auto;

    }
    .filter-component{
        width:100%;
        font-size: 1.2rem;
    }

    .search-bar{
        width: 90%;
        margin: 0 auto;
    }

    input{
        font-size: 1.2rem;
    }

    .filter-component option {
        font-size: 1.2rem;
    }
    .year{
        width: 6rem;
        padding: 0 0.5rem;
    }


}